@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html {
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'Overpass', sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
}

h1 {
  padding-top: 10%;
  margin: 0;
  font-family: 'Permanent Marker', cursive;
  font-size: calc(2em + 5em);

  @media only screen and (max-width: 1200px) {
    font-size: calc(1.15em + 5em);
  }

  @media only screen and (max-width: 600px) {
    font-size: calc(1.75em + 1.5em);
  }
}

h2 {
  font-size: calc(1em + 1.5em);
}

button {
  cursor: pointer;
  width: 10%;
  overflow-x: hidden;
  font-size: calc(0.5em + 0.7vw);
  color: white;
  line-height: 1.6;
  background-color: black;
  border: 2px solid white;
  outline: none;
  padding: 0.7% 1.5%;

  @media only screen and (max-width: 1200px) {
    width: 18%;
    line-height: 2;
    font-size: calc(0.8em + 0.7vw);
  }

  @media only screen and (max-width: 600px) {
    width: 23%;
    line-height: 2.25;
    font-size: calc(0.7em + 0.5vw);
  }
}

.clicked {
  color: black;
  background-color: white;
} 

button:hover {
  @media only screen and (min-width: 600px) {
    color: black;
    background-color: white;
  }
}

.unclicked {
  @media only screen and (max-width: 1200px) {
    position: absolute;
    bottom: 5%;
  }  
}

.main-menu {
  text-align: center;

  p {
    @media only screen and (max-width: 576px) {
      font-size: calc(0.3em + 0.5em);
    }
  }
}

.app > div {
  height: 100%;
}

.divider {
  width: 1vw;
  display: inline-block;
}