@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  font-family: 'Overpass', sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: calc(2em + 5em);

  @media only screen and (max-width: 1200px) {
    font-size: calc(1.15em + 5em);
  }

  @media only screen and (max-width: 600px) {
    font-size: calc(1.75em + 1.5em);
  }
}

h2 {
  font-size: calc(1em + 1.5em);
}

button {
  cursor: pointer;
  width: 10%;
  overflow-x: hidden;
  font-size: calc(0.5em + 0.7vw);
  color: white;
  line-height: 1.6;
  background-color: black;
  border: 2px solid white;
  outline: none;
  padding: 0.7% 1.5%;

  @media only screen and (max-width: 1200px) {
    width: calc(10% + 1%);
    line-height: 2;
    font-size: calc(0.8em + 0.7vw);
  }

  @media only screen and (max-width: 600px) {
    width: calc(15% + 1%);
    line-height: 2.25;
    font-size: calc(0.7em + 0.7vw);
  }
}

button:hover, .clicked {
  color: black;
  background-color: white;
} 

.app {
  margin-top: 20vh;
  text-align: center;

  p {
    @media only screen and (max-width: 576px) {
      font-size: calc(0.3em + 0.5em);
    }
  }
}

.divider {
  width: 1vw;
  display: inline-block;
}