.quote {
  position: relative;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  &>span {
    font-size: calc(0.7em + 0.7em);

    @media only screen and (max-width: 1200px) {
      font-size: calc(0.5em + 0.5em);
    }  
    
    @media only screen and (max-width: 600px) {
      font-size: calc(0.4em + 0.4em);
    }
  }
}

.quote::before {
  content: "\“";
  line-height: 1;
  font-size: calc(4em + 4vw);
  position: absolute;
  top: 5%; left: 3%;
}

.quote::after {
  content: "\”";
  line-height: 0;
  font-size: calc(4em + 4vw);
  position: absolute;
  bottom: 5%; right: 3%;
}

.fade-in {
  animation: fading-in 1s steps(40, end)
}

/* The typing effect */
@keyframes fading-in {
  from { opacity: 0 }
  to { opacity: 100 }
}

#game-container {
  height: 85vh;
  width: 100vw;

  @media only screen and (max-width: 1200px) {
    height: 80%;
  }

  > p {
    font-family: 'Bebas Neue', cursive;
    font-size: calc(0.6em + 0.6vw);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    img {
      height: calc(0.6em + 0.6vw);
      margin-left: 5px;
    }
  }
}

#script {
  border-top: 3px solid white;
  height: calc(50% - 3px);
  overflow-y: hidden;

  @media only screen and (max-width: 600px) {
    height: calc(50% - 3px);
  }

  p {
    margin: 2%;
    font-size: calc(1em + 1em);

    @media only screen and (max-width: 1200px) {
      font-size: calc(0.8em + 0.8em);
    }

    @media only screen and (max-width: 600px) {
      font-size: calc(0.6em + 0.6em);
    }

    @media only screen and (max-width: 360px) {
      font-size: calc(0.4em + 0.4em);
    }
  }
}

#upper-container {
  height: 50%;
  text-align: center;

  @media only screen and (max-width: 600px) {
    height: 50%;
  }

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding:3% 15% 0 15%;
    height: 65%;
    width: 70%;
    font-size: calc(0.9em + 0.9em);

    @media only screen and (max-width: 1200px) {
      font-size: calc(0.7em + 0.8em);
    }  
    
    @media only screen and (max-width: 600px) {
      font-size: calc(0.5em + 0.5em);
    }

    @media only screen and (max-width: 360px) {
      font-size: calc(0.4em + 0.4em);
    }
  }
}