#menu {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
  button {
    margin-right: 2%;
    width: 10%;
    overflow-x: hidden;
    font-size: calc(0.7em + 0.7vw);
    font-family: 'Overpass', sans-serif;
    color: white;
    background-color: black;
    border: 2px solid white;
    outline: none;
    padding: 0.7% 1.5%;
  }

  button:hover, .clicked {
    color: black;
    background-color: white;
  } 
}

.hidden{
  display: none;
}